.row {

	@mixin clearfix;

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters {
		margin-right: -65px;
	}

	&__small-12 {
		@mixin atSmall {
			float: left;
			width: 100%;
		}
	}

	&__medium-4 {

		@mixin atMedium {
			float: left;
			width: 33.33%
		}

	}

	&__medium-6 {

		@mixin atMedium {
			float: left;
			width: 50%;
		}
	}

	&__medium-8 {
		@mixin atMedium {
			float: left;
			width: 66.66%;
		}
	}

	&__medium-12 {

		@mixin atMedium {
			float: left;
			width: 100%;
		}
	}

	&--equal-height-at-medium {
		@mixin atMedium {
			display: flex;

		}
		
		& > div {

			float: none;		
		}
	}

	&--left-margin-right-at-medium {
	
		width: 100%;

		@mixin atSmall {
			margin: 0 auto;
		}

		@mixin atMedium {
			float: left;
			width: 33.33%;
			margin-left: 5rem;
		}
	}

	&--top-margin-lg {
		margin-top: 4rem;
	}

	&--top-margin-md {
		margin-top: 3rem;
	}
	
}