.jumbo {
	border-bottom: .6rem solid $mainBlue;
	color: #fff;
	position: relative;

	&__text-content {
	text-align: center;
	width: 100%;	
	position: absolute;
	top: 50%;
	transform: translateY(-70%);
	padding-top: 2rem;

	@mixin atMedium {
		padding-top: 1rem;
	}

	}

	&__line {
		width: 50%;
		margin-top: 2rem;
		margin-bottom: 2rem;
		border: dashed 1px;
	}

	&__title {
		margin: 0;
		font-size: 1.3rem;

		@mixin atSmall {
			font-size: 1.9rem;
		}

		@mixin atMedium {
			font-size: 2.8rem;
		}
		
	}

	&__subtitle{
		font-weight: 300;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
		text-shadow: 2px 2px 0 rgba(0,0,0, .1);
		font-size: .9rem;

		@mixin atSmall {
			font-size: 1.4rem;

		}

		@mixin atMedium {
			font-size: 1.5rem;
		}
	}

	&__image{
		display: block;
	  filter: brightness(40%);
	}

	&__button {
		border: 1px solid white;
		transition: all .5s ease-out;

		&:hover {
			color: $gold;
		}
	}

}