.row {

	@mixin clearfix;

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters {
		margin-right: -65px;
	}

	&__medium-4 {

		@mixin atMedium {
			float: left;
			width: 33.33%
		}

	}

	&__medium-6 {

		@mixin atMedium {
			float: left;
			width: 50%;
		}
	}

	&--equal-height-at-medium {
		@mixin atMedium {
			display: flex;

		}
		
		& > div {
			float: none;
			display: flex;		
		}
	}
	
}