.site-header{
	position: absolute;
	z-index: 2;
	color: white;
	width: 100%;
	padding: 1rem 0;
	padding-top: 100px;
	transition: all .3s ease-out;

	&--is-expanded {
		background-color: rgba(0,0,0,.8);
	}

	@mixin atMedium {
		background-color: rgba(0,0,0,.3);
		padding-top: 1rem;
		position: fixed;

		&--dark {
			background-color: rgba(0,0,0,.75);
		}
	}

	&__image{
		height: 50px;
	}

	&__logo {
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 36px;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0;
		transition: transform .3s ease-out;

		@mixin atMedium {
			left: auto;
			transform: translateX(0) scale(1);

		&--smaller {
			transform: scale(.5);
		}

		}


	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: all .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: all .3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {

		&::before {
			transform: rotate(45deg) scaleX(1.25); 
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			width: 0px;
		}
	}

	&__menu-content {
		opacity: 0;
		z-index: -999;
		position: relative;
		text-align: center;
		transition: all .3s ease-out;

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
		}
	}

	&--is-visible {
		opacity: 1;
		z-index: 1;
	}
}