.technology {
	
	position: relative;
	text-align: center;
	height: 6rem;

	&__title {
		color: $gold;
	}

	p {
		font-weight: 200;
		text-align: center;

	}

	&__icon {
		height: 35px;
		width: 35px;
		position: relative;
		top: 7px;
		margin-right: 3px;
	}
}
