.work {
	padding: 1rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;


	&__content {

		padding: 1rem 0;
		border-radius: 0 0 1rem 1rem;

	}

	&__name {
		font-size: 1rem;

	}

	&__description {
		font-size: .8rem;
	}

	&__image{
		display: block;
		border-bottom: 4px solid $mainBlue;
	}

}